html {
    scroll-behavior: smooth;
 }

.inter {
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#slider {
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.my-slider-slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
}

.my-slider-slide img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.my-slider-prev, .my-slider-next {
    cursor: pointer;
    background-color: #F5F0EC;
}

.btn-with-underline::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: currentColor;
    z-index: 1;
}

.masonry-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.masonry-item img {
    max-width: 450px;
    height: auto;
    display: block;
    object-fit: cover;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.typewriter-text::after {
    content: '|';
    opacity: 1;
    animation: blink 1s infinite;
}