.inter {
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
}

.montserrat {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
   }

#slider {
    position: relative;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.my-slider-slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
}

.my-slider-slide img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.my-slider-prev, .my-slider-next {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.my-slider-prev:hover, .my-slider-next:hover {
    background-color: rgba(255, 255, 255, 1);
}
